<!DOCTYPE html>
<html>
  <head>
    <title>AccountabiliBuddy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Oregano" rel="stylesheet">
  </head>
  <body>
    <h1 class="logo">AccountabiliBuddy</h1>