<h1> Home Page </h1>
<a href="/new-goal">Create Goal</a>
<a href="account">Account</a>

<!-- loop goes here, render db goal stuff or 'no goals' message' -->
<a href="/goal/1">
  <div>Goal 1</div>
</a>