<%- include partials/header.ejs %>

  <form action="/login" method="post" class="col-lg-6 col-sm-12">
    <h2>Login</h2>
    <h3>email:</h3>
    <input type="email" name="email">
    <h3>password:</h3>
    <input type="password" name="password">
    <input type="submit" value="Submit" class="btn">
  </form>

  <button class="btn col-lg-6 col-sm-12" onclick="location.href='/sign-up'">Sign Up</button>

<%- include partials/footer.ejs %>
