<h1> Create Goal </h1>
<form action="/new-goal" method="post">
  Buddy's username <br>
  <input type="text" name="buddy">  <br>
  Goal Title <br>
  <input type="text" name="title">
  Goal Description <br>
  <input type="text" name="description"> <br>
  commitment *figure this out later, modal maybe? calendar library?*
  consequence $$$ *again, modal maybe? paypal?*
  <input type="submit" name="Submit">
</form>

<p>maybe add a modal for successful submission?</p>