<%- include partials/header.ejs %>

<h1> Create Goal </h1>
<form action="/new-goal" method="post">
  <h3>Buddy's username:</h3>
  <input type="text" name="buddy">
  <h3>Goal Title:</h3>
  <input type="text" name="title">
  <h3>Goal Description:</h3>
  <input type="text" name="description">
  <h3>commitment </h3>
  <h3>consequence</h3> 
  <input class="btn" type="submit" name="Submit">
</form>

<p>maybe add a modal for successful submission?</p>

<%- include partials/footer.ejs %>