<h1>
  Sign Up
</h1>
<form action="/sign-up" method="post">
  email <br>
  <input type="email" name="email"> <br>
  name <br>
  <input type="name" name="text"> <br>
  password <br>
  <input type="password" name="password"> <br>
  confirm password <br>
  <input type="password" name="confirm"> <br>
  <input type="submit" name="Submit"> <br>
</form>