body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(197, 218, 231);
  display:flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: #00B7FF;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
